.banner {
    padding-top: 200px;
    padding-bottom: 100px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    .text {
        h1 {
            margin: 44px 0 10px;
            font-size: 50px;
            line-height: 70px;
            font-weight: 700;
        }
    }

    .search {
        display: flex;
        justify-content: space-between;
        padding: 0;
        border: 1px solid #D2D2D2;
        border-radius: 25px;

        .location {
            position: relative;
            width: 35%;
            position: relative;
            border-right: 1px solid #D2D2D2;

            img {
                position: absolute;
                top: 15px;
                left: 15px;
            }

            input {
                padding-left: 50px;
            }
        }

        .product {
            position: relative;
            width: 65%;

            input {
                padding-left: 15px;
            }
        }

        input {
            width: 100%;
            height: 50px;
            border: 0;
            padding-right: 5px;
            box-sizing: border-box;
            background-color: transparent;

            &::placeholder {
                color: #7B7B7B;
                font-size: 15px;
            }
        }

        button {
            display: inline-block;
            position: absolute;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border: 0;
            border-radius: 50%;
            background-image: linear-gradient(240.05deg, #F66161 41.59%, #FFA454 119.55%);
            color: $white;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);

            i {
                padding-left: 3px;
                font-size: 15px;
            }
        }
        @media (max-width: 767.98px) {
            
            flex-wrap: wrap;
            border: 0;

            .location,
            .product {
                width: 100%;
                border: 1px solid #D2D2D2;
                border-radius: 25px;
                margin-bottom: 15px;

                input {
                    font-size: 10px;

                    &::placeholder {
                        font-size: 10px;
                    }
                }
            }
            
        }

    }

    .category {
        h4 {
            padding: 40px 0 50px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            color: $black;
        }

        .category-item {
            background-color: $white;
            border-radius: 15px;
            text-align: center;
            box-shadow: 0px 4px 12px rgba(183, 189, 196, 0.4);
            transition: all linear .2s;

            img {
                margin-top: -30px;
                height: 133px;
            }

            h3 {
                padding: 10px 0 20px;
                font-size: 19px;
                line-height: 29px;
                font-weight: 700;
                color: $black;
                transition: all linear .2s;
            }

            &:hover {
                transform: translateY(-6px);

                h3 {
                    color: $primary-color;
                }
            }
        }

        
    }

    @media (max-width: 767.98px) {
        background-image: none !important;
        background-color: #F4F4F4;

        .logo {
            img {
                max-width: 144px;
            }
        }
        .text {
            h1 {
                font-size: 24px;
                line-height: 34px;
            }
        }

        .category {
            h4 {
                font-size: 14px;
                line-height: 24px;
            }
    
            .category-item {
               border-radius: 5px;
    
                img {
                    height: 42px;
                }
    
                h3 {
                    padding: 0;
                    padding-bottom: 10px;
                    margin-top: 0;
                    font-size: 10px;
                    line-height: 20px;
                }
    
                &:hover {
                    transform: translateY(-6px);
    
                    h3 {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.store {
    padding-bottom: 50px;

    .store-item {
        margin-bottom: 50px;

        .img {
            position: relative;

            img {
                width: 100%;
            }

            .promoted {
                display: flex;
                align-items: center;
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 0 20px 0 8px ;
                height: 28px;
                border-radius: 2px;
                z-index: 9;
                background: linear-gradient(240.05deg, #F66161 41.59%, #FFA454 119.55%), #313131;
                color: $white;

                i {
                    display: block;
                    font-size: 12px;
                }

                span {
                    display: block;
                    padding-left: 5px;
                    font-size: 12px;
                }
            }
        }

        .text {
            h4 {
                a {
                    font-size: 19px;
                    font-weight: 700;
                    color: $black;
                    transition: all linear .2s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .bottom {
                display: flex;
                align-items: center;

                > i {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 10px;
                    line-height: 20px;
                    text-align: center;
                    background-image: linear-gradient(240.05deg, #F66161 41.59%, #FFA454 119.55%);
                    color: $white;
                }

                p {
                    padding-left: 10px;
                    margin-bottom: 0;
                    font-size: 12;
                }

                .stars {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    width: 50px;
                    height: 24px;
                    border-radius: 4px;
                    background-color: $secondary-color;
                    color: $white;

                    span {
                        display: block;
                        margin-right: 3px;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    i {
                        font-size: 12px;
                    }
                }
            }
        }

        @media (max-width: 767.98px) {
            .img {
                .promoted {
                    height: 8px;
                    line-height: 8px;
                    padding: 0 5px;
    
                    i {
                        font-size: 8px;
                    }
        
                    span {
                        font-size: 4px;
                    }
                }
            }

            .text {
                h4 {
                    margin: 0;
                    a {
                        font-size: 10px;
                        line-height: 20px;
                    }
                }
    
                .bottom {
                    display: flex;
                    align-items: center;
    
                    > i {
                        width: 10px;
                        height: 10px;
                        font-size: 6px;
                        line-height: 10px;
                    }
    
                    p {
                        font-size: 8px;
                        line-height: 16px;
                        padding-left: 3px;
                    }
    
                    .stars {
                        width: 20px;
                        height: 10px;
                        border-radius: 3px;
                       
    
                        span {
                            font-size: 4px;
                        }
    
                        i {
                            font-size: 4px;
                        }
                    }
                }
            }
        }
    }

    .slider {
        .col {
            padding: 0 15px;
        }
        .img {
            position: relative;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 9;
                display: flex;
                align-items: flex-end;
                background-image: linear-gradient(360deg, #000000 -20.85%, rgba(0, 0, 0, 0) 63.03%);;

                .text {
                    padding: 20px;
                    width: 100%;
                    color: $white;

                    h4 {
                        margin: 0;
                        font-size: 21px;
                        line-height: 32px;
                        font-weight: 700;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }

        .slick-arrow {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 0;
            line-height: 66px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: -25px;
            z-index: 9;
            transform: translateY(-50%);
            background: linear-gradient(240.05deg, #F66161 41.59%, #FFA454 119.55%);
            color: $white;

            i {
                font-size: 22px;
            }

            &.slick-next {
                left: auto;
                right: -25px;
            }
        }

        @media (max-width: 767.98px) {
            .col {
                padding: 0 6px;
            }

            .img {
                .overlay {
                    .text {
                        padding: 6px;
    
                        h4 {
                            font-size: 10px;
                            line-height: 12px;
                        }
    
                        p {
                            font-size: 8px;
                            line-height: 16px;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .slick-arrow {
                width: 16px;
                height: 16px;
                line-height: 6px;
                left: -2px;
    
                i {
                    font-size: 9px;
                }
    
                &.slick-next {
                    left: auto;
                    right: -2px;
                }
            }
        }

    }

   
}

// why-shop;
.why-shop {
    padding-bottom: 50px;

    @media (max-width: 767.98px) {
        .row {
            padding:  0 30px 40px;

            .why-shop-item {
                box-shadow: 0 0 0 transparent !important;

                &:hover {
                    border: 1px solid #E1E1E1 !important;
                }
                
            }
            
            .why-shop-item.active {
                border-color: #E1E1E1 !important;
            }

            [class^="col"] {
                width: 190px;
            }
        }
    }

    .why-shop-item {
        border: 0.6px solid #E1E1E1;
        box-sizing: border-box;
        border-radius: 8px;
        transition: all linear .3s;

        &.active,
        &:hover {
            box-shadow: 0px 17.03px 22.4796px rgba(46, 46, 46, 0.25);
            border-color: transparent;
        }

        img {
            width: 100%;
            vertical-align: middle;
        }

        .text {
            padding: 10px 20px 40px;

            h4 {
                font-size: 36px;
                line-height: 46px;
                font-weight: 700;
                color: $black;
                transition: all linear .2s;
            }

            p {
                margin-bottom: 0;
                line-height: 24px;
                font-size: 14px;
                color: $black;
            }
        }

        @media (max-width: 767.98px) {
            .text {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 20px;
                
                h4 {
                    font-size: 21px;
                    line-height: 30px;
                }

                p {
                    font-size: 8px;
                    line-height: 16px;
                }
            }
        }
    }
}

// Register;
.register-area {
    padding-bottom: 50px;

    .text {
        p {
            margin-bottom: 35px;
            line-height: 40px;
            font-size: 29px;
        }

        a {
            display: inline-block;
            width: 280px;
            height: 70px;
            border-radius: 35px;
            line-height: 70px;
            font-size: 19px;
            font-weight: 700;
            text-align: center;
            background: linear-gradient(240.05deg, #F66161 41.59%, #FFA454 119.55%);
            color: $white;
        }
    }

    @media (max-width: 767.98px) {
        .text {
            p {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 15px;
            }

            a {
                width: 145px;
                height: 37px;
                line-height: 37px;
                font-size: 10px;
            }
        }
    }
}

// Faq;
.faq {
    padding-bottom: 50px;

    .question-tab {
        ul {
            display: flex;
            justify-content: space-between;

            li {
                width: 50%;
                font-size: 29px;
                line-height: 40px;
                padding: 10px 0;
                font-weight: 700;
                color: #A7B8C7;
                border-bottom: 2px solid transparent;
                cursor: pointer;
                
                &.active {
                    border-bottom: 2px solid $primary-color;
                    color: $black;
                }

                &:last-child {
                    text-align: right;
                }
            }
        }

        @media (max-width: 767.98px) {
            ul {
                li {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    .question-content {
        .question-group:not(.active) {
            display: none;
        }

        .panel {
            border-color: transparent;
            border-bottom: .5px solid #000;
            box-shadow: none;
        }

        .panel-heading {
            padding: 25px 0;
            background-color: transparent;

            a {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: $black;
                line-height: 26px;
                transition: all linear .2s;

                &:hover {
                    color: $primary-color;
                }

                i {
                    display: inline-block;
                    color: $primary-color;
                    width: 14px;
                    height: 14px;
                    transition: .2s;
                }
    
                &.active {
                    i {
                        transform: rotate(45deg);
                    }
                }
            }

        }

        .panel-body {
            padding-left: 0;
            padding-right: 0;
        }

        @media (max-width: 767.98px) {
            .panel-heading {
                a {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .panel-body {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}

// subscription;
.subscription {
    padding: 70px 0;
    background: linear-gradient(240.05deg, #F66161 41.59%, #FFA454 119.55%);
    
    .content {
        display: flex;
        align-items: center;

        .text {
            width: 50%;
            padding-right: 15px;

            h3 {
                font-size: 37px;
                line-height: 47px;
                font-weight: 700;
                color: $white;
            }
        }

        .form {
            position: relative;
            width: 50%;
            padding-left: 15px;

            input {
                height: 68px;
                width: 100%;
                padding-left: 25px;
                padding-right: 190px;
                box-sizing: border-box;
                border: 0;
                background: rgba(255, 255, 255, 0.34);
                border-radius: 34px;
                color: $white;

                &::placeholder {
                    color: $white;
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 166px;
                height: 68px;
                background-color: $white;
                border: 0;
                border-radius: 34px;
                font-size: 19px;
                color: #687988;
            }
        }
    }

    @media (max-width: 767.98px) {
        .content {
            flex-wrap: wrap;

            .text {
                width: 100%;
                text-align: center;

                h3 {
                    font-size: 14px;
                    line-height: 24px;
                    padding-bottom: 15px;
                }
            }

            .form {
                width: 100%;
                text-align: center;

                input {
                    height: 50px;
                }

                button {
                    position: relative;
                    margin-top: 15px;
                    height: 50px;
                    font-size: 12px;
                    color: $black;
                }
            }
        }
    }
}

// Trending
.trending {
    padding-top: 50px;
    padding-bottom: 50px;

    .row {
        display: flex;
        flex-wrap: wrap;

        .col {
            width: calc(100% / 3);
            padding: 0 15px;
        }
    }

    .trending-content {
        .item {
            position: relative;
            margin-bottom: 30px;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 99;
                display: flex;
                align-items: center;
                background: linear-gradient(90deg, #000000 -53.02%, rgba(0, 0, 0, 0) 114.8%);

                .text {
                    padding: 0 28px;
                    width: 100%;

                    h5 {
                        font-size: 21px;
                        font-weight: 700;
                        color: $white;
                    }
    
                    p {
                        margin-bottom: 0;
                        color: $white;
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .section-title {
            img {
                width: 16px;
            }

            i {
                font-size: 14px;
            }
        }

        .row {
            .col {
                padding: 0 6px;
                width: 130px;
            }
        }

        .trending-content {
            .item {
                margin-bottom: 15px;

                .overlay {
                    .text {
                        padding: 0 10px;

                        h5 {
                            font-size: 10px;
                            margin: 0;
                        }

                        p {
                            font-size: 8px;
                            line-height: 13px;
                        }
                    }
                }
            }
        }

    }
    @media (max-width: 991.98px) {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            bottom: -15px;
            z-index: 99;
            transform: translateX(-50%);
    
            li {
                width: 5px;
                height: 5px;
                background-color: #DFDDDD;
                margin: 0 3px;
                border-radius: 50%;
                cursor: pointer;
    
                &.slick-active {
                    background-color: #C4C4C4;
                }
    
                button {
                    display: none;
                }
            }
        }
    }

}

// Search for;
.search-for {
    padding-bottom: 50px;

    .content {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: calc(100% / 4);
                margin-bottom: 15px;

                a {
                    color: $black;
                    transition: .2s;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .content {
            ul {
                li {
                    width: calc(100% / 3);
                    font-size: 8px;
                    line-height: 16px;
                    margin-bottom: 8px;
                    padding-right: 8px;
                }
            }
        }
    }
}

// new-serving;
.new-serving {
    .content {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: calc(100% / 3);
                margin-bottom: 15px;

                a {
                    display: flex;
                    align-items: center;
                    color: $black;
                    transition: .2s;

                    &:hover {
                        color: $primary-color;
                    }

                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .content {
            ul {
                li {
                    font-size: 8px;
                    line-height: 12px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

// coming soon;
.coming-soon {

    .section-title {
        h2 {
            color: $white;
        }
    }
    
    .content {
        background: linear-gradient(237.57deg, #F66161 53.81%, #FFA454 140.01%);
        border-radius: 8px;
        padding: 30px;
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: calc(100% / 3);
                margin-bottom: 15px;

                a {
                    display: flex;
                    align-items: center;
                    color: $white;
                    transition: .2s;

                    &:hover {
                        color: $black;
                    }

                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .section-title {
            h2 {
                margin: 0;
            }
        }
        .content {
            padding: 12px;

            ul {
                li {
                    font-size: 8px;
                }
            }
        }
    }
}

