@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
// Color;
$primary-color: #F66161;
$secondary-color: #FFA454;
$hover-color : #F66161;
$bColor: #000;
$white : #ffffff;
$black : #000000;
$bgOne: #FAFAFA;
$bgTwo: #F7F7F7;
$border-color: #DADADA;


// Body;
$bodyFont: 'Mulish', sans-serif;
$titleFont:  'Mulish', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .4s linear;
